.sidebar {
  &__list {
    color: white;

    &-item {
      &:hover {
        background-color: rgba(170, 170, 170, .2);
      }
    }
  }

  &__link {
    & > span {
      font-weight: 100;
      font-size: .95rem;
    }
  }
}